version: "3.1"
services:
    postgres:
        image: postgres:9.6
        environment:
            - POSTGRES_USER=airflow
            - POSTGRES_PASSWORD=airflow
            - POSTGRES_DB=airflow
        ports:
            - 5432:5432
        networks:
            - airflow-network

    adminer:
        image: adminer
        ports:
          - 8080:8080
        networks:
          - airflow-network
      
    trade-mysql:
        image: mysql-docker
        command: --default-authentication-plugin=mysql_native_password
        restart: always
        environment: 
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: trade
        ports: 
            - 3306:3306
        networks:
            - airflow-network
            
    webserver:
        image: airflow-docker
        restart: always
        depends_on:
            - postgres
        environment:
            - LOAD_EX=n
            - EXECUTOR=Local
            - FERNET_KEY=jsDPRErfv8Z_eVTnGfF8ywd19j4pyqE3NpdUBA_oRTo=
        volumes:
            - ./dags:/usr/local/airflow/dags
            - ./files:/usr/local/airflow/files
        ports:
            - "8081:8081"
        command: webserver
        healthcheck:
            test:
                ["CMD-SHELL", "[ -f /usr/local/airflow/airflow-webserver.pid ]"]
            interval: 30s
            timeout: 30s
            retries: 3
        networks:
            - airflow-network

networks: 
  airflow-network:
    driver: bridge